.content {
  min-width: 100%;

  border: 5px red solid;
}

.result {
  padding-left: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  border: 1px solid black;
  flex-basis: 200px;
  padding: 10px;
  margin: 5px;
  background-color: white;
}

.title {
  min-width: 250px;
}

.price {
  min-width: 250px;
  font-size: 18px;
}
