.container {
  min-width: 1000px;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cap {
  display: flex;
}

.historys {
  border: 1.5px solid #0f0f0f;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
